html, body {
  margin: 0;
  padding: 0;
  border: 5px solid black;
}
  body {
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
#sidebar {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 25px;
  line-height: 1.3;
  background: transparent url(../img/sidebar-bg.jpg) 0 0 no-repeat;
}
.btn {
  margin-bottom: 20px;
}
aside#sidebar p.repo-owner,
aside#sidebar p.repo-owner a {
  font-weight: bold;
  font-size: 16px;
}
img.col-md-12 {
  max-width: 100%;
  margin-bottom: 30px;
}
img {
  border-radius: 4px;
}
